<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{ title }} Child</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="addEditChildForm">
  
            <label>
              First Name:
              <input type="text" formControlName="firstName">
            </label>        
            <label>
                Birth Date:
                <ngbd-datepicker-popup></ngbd-datepicker-popup>
            </label>
            <label>
              Weight:
              <input type="text" formControlName="weight"><span>(lb)</span>
            </label>
            <label>
              Height:
              <input type="text" formControlName="height"><span>(in)</span>
            </label>
            <label>
              Gender:
              <select formControlName="gender">
                <option value="m">Male</option>
                <option value="f">Female</option>
                </select>
            </label>
          </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="modal.close('saved')">Save</button>
        <button type="button" class="btn btn-outline-danger" (click)="modal.close()">Close</button>
    </div>
  </ng-template>
  <button class="btn btn-outline-success mb-2 mr-2" (click)="openModal(content, 'Add New')">Add New</button>