<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Add Sleep</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="sleepStartTime">
            <h5>Start Time</h5>
            <ngb-timepicker [(ngModel)]="timeStart" [meridian]="meridian"></ngb-timepicker>
        </div>
        <div class="sleepEndTime">
            <h5>End Time</h5>
            <ngb-timepicker [(ngModel)]="timeEnd" [meridian]="meridian"></ngb-timepicker>
        </div>       
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="modal.close('saved')">Save</button>
        <button type="button" class="btn btn-outline-danger" (click)="modal.close()">Close</button>
    </div>
  </ng-template>
  <button class="btn btn-outline-success mb-2 mr-2" (click)="openModal(content)">Add New</button>