@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&display=swap');

/* Screen Sizes */
$screenSm: 992px;

/* Colors */
$mainBlue: #3bf8ff;

/* Fonts */
$headingFont: 'Merriweather', serif;
$paragraphFont: 'Montserrat', sans-serif;