@import "./variables";

.navContainer {
    background-color: $mainBlue;

    @media only screen and (min-width: 992px) {
        height: 100%;
        min-width: 10%;
        /* For side-by-side display in large view */
        display: inline-block;
        vertical-align: top;
    }
}