<div class="navContainer col-lg-1">
    <nav class="navbar navbar-expand navbar-light nav-tabs flex-lg-column">
        <a href="#" class="navbar-brand"><img src="../assets/logo/glow-sm.png" alt="Glow"></a>
        <div class="navbar-nav flex-lg-column navLinks">
            <a routerLink="/glow-feeding" class="nav-item nav-link">Feedings</a>
            <a routerLink="/glow-sleep" class="nav-item nav-link">Sleep</a>
            <a routerLink="/glow-measurables" class="nav-item nav-link">Measurables</a>
            <a routerLink="/glow-shot-records" class="nav-item nav-link">Shot Records</a>
            <a routerLink="/glow-events" class="nav-item nav-link">Events</a>
            <div class="accountNavContainer nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <!-- <a class="dropdown-item" href="#">View</a>
                    <a class="dropdown-item" href="#">Edit</a>
                    <a class="dropdown-item" href="#">*Login/Logout*</a> -->
                    <a class="dropdown-item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Account</a>
                    <a class="dropdown-item" routerLink="/glow-child" routerLinkActive="active">Children</a>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </div>
        </div>
    </nav>
</div>
