/* You can add global styles to this file, and also import other style files */
$mainBlue: #3bf8ff;

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

h1 {
    width: 100%;
    text-align: center;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
