@import "../../variables";

.modal-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @media all and (max-width: $screenSm) {
        flex-direction: column;
        align-items: center;
    }
}

h5 {
    text-align: center;
}

.ouncesFed {
    display: flex;
    flex-direction: column;
    align-content: center;

    /* Overrides Default Bootstrap Button Styling */
    button {
        outline: 0 !important; 
        border-style: none !important;
        box-shadow: none !important;
    }

    .active {
        background-color: #007bff !important;
    }

}